comm==0.2.2
scipy==1.16.0
nvidia-cudnn-cu11==9.1.0.70
Jinja2==3.1.4
asttokens==3.0.0
charset-normalizer==3.4.2
nvidia-cufft-cu11==10.9.0.58
executing==2.2.0
ptyprocess==0.7.0
debugpy==1.8.11
nvidia-cusolver-cu11==11.4.1.48
konlpy==0.6.0
nvidia-nvtx-cu11==11.8.86
pydantic_core==2.33.2
torch==2.6.0+cu118
tokenizers==0.21.2
gitdb==4.0.12
aiosignal==1.4.0
yarl==1.20.1
nest_asyncio==1.6.0
platformdirs==4.3.8
nvidia-nccl-cu11==2.21.5
multiprocess==0.70.16
MarkupSafe==2.1.5
pydantic==2.11.7
annotated-types==0.7.0
transformers==4.53.1
ipykernel==6.29.5
wcwidth==0.2.13
six==1.17.0
tqdm==4.67.1
pyarrow==20.0.0
zipp==3.23.0
typing_extensions==4.12.2
typing_extensions==4.14.1
fsspec==2024.6.1
tzdata==2025.2
pexpect==4.9.0
decorator==5.2.1
wandb==0.21.0
filelock==3.13.1
urllib3==2.5.0
pillow==11.0.0
nvidia-cuda-nvrtc-cu11==11.8.89
stack_data==0.6.3
typing-inspection==0.4.1
nvidia-cusparse-cu11==11.7.5.86
prompt_toolkit==3.0.51
scikit-learn==1.7.0
pure_eval==0.2.3
ipython==9.4.0
nvidia-cuda-cupti-cu11==11.8.87
networkx==3.3
psutil==5.9.0
datasets==3.6.0
nvidia-nccl-cu12==2.27.5
idna==3.10
frozenlist==1.7.0
nvidia-cublas-cu11==11.11.3.6
xgboost==3.0.2
numpy==2.1.2
jedi==0.19.2
pickleshare==0.7.5
importlib_metadata==8.7.0
packaging==25.0
joblib==1.5.1
ipython_pygments_lexers==1.1.1
dill==0.3.8
wheel==0.45.1
pyzmq==26.2.0
lxml==6.0.0
propcache==0.3.2
mpmath==1.3.0
huggingface-hub==0.33.2
safetensors==0.5.3
torchvision==0.21.0+cu118
torchaudio==2.6.0+cu118
tornado==6.5.1
requests==2.32.4
regex==2024.11.6
aiohttp==3.12.13
jpype1==1.6.0
accelerate==1.8.1
certifi==2025.6.15
evaluate==0.4.4
nvidia-curand-cu11==10.3.0.86
sentry-sdk==2.32.0
matplotlib-inline==0.1.7
parso==0.8.4
Pygments==2.19.2
click==8.2.1
traitlets==5.14.3
triton==3.2.0
smmap==5.0.2
attrs==25.3.0
exceptiongroup==1.3.0
jupyter_core==5.8.1
nvidia-cuda-runtime-cu11==11.8.89
setuptools==78.1.1
pytz==2025.2
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
jupyter_client==8.6.3
multidict==6.6.3
GitPython==3.1.44
protobuf==6.31.1
xxhash==3.5.0
pip==25.1
PyYAML==6.0.2
threadpoolctl==3.6.0
sympy==1.13.1
pandas==2.3.1
hf-xet==1.1.5
jaraco.collections==5.1.0
packaging==24.2
importlib_metadata==8.0.0
tomli==2.0.1
backports.tarfile==1.2.0
typing_extensions==4.12.2
jaraco.context==5.3.0
typeguard==4.3.0
autocommand==2.2.2
jaraco.text==3.12.1
more-itertools==10.3.0
platformdirs==4.2.2
wheel==0.45.1
inflect==7.3.1
jaraco.functools==4.0.1
zipp==3.19.2
